
{% extends "base.html" %}
{% set title = "Quotes" %}

{% block content %}
    <div class="container">
        {% if quotes %}
            {% for quote in quotes %}
                <br>
           <span class="glyphicon glyphicon-leaf glyphicon-align-left"></span>
                <blockquote class="blockquote text-center">

                  <p class="mb-2">{{quote.text}}</p>
                  <footer class="blockquote-footer">{{ quote.author }} </footer>
                </blockquote>

            {% endfor %}

        </ul>
        {% else %}
            <p>No quotes are available.</p>
        {% endif %}
    </div>
{% endblock %}